@import "base/base";
@import "partials/partials";

body {
  background-color: $color-base;
}

.page-title {
  font-size: 2rem;
  margin: 2rem auto;
  text-align: center;
  color: $color-base-700;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;

  &--primary {
    background: #6867ac;
  }

  &--secondary {
    background: #61ccff;
  }
}
